/* custom.css */

.navbar-brand {
    font-weight: bold;
}

.bio-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  background-color: #f9f9f9;
}

.bio-card img {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.bio-card h3 {
  clear: both;
  text-transform: capitalize;
  margin-top: 20px;
  border-top: hidden;
  border-bottom: hidden;
  margin-bottom: 0px;
}

.bio-card h6 {
  margin-top: 10px;
  clear: both;
  margin-bottom: 20px;
}

.bio-card p {
  clear: both;
}

.bio-card::after {
  content: "";
  display: table;
  clear: both;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  color: #555;
  text-decoration: none;
  font-size: 1.2em;
}

.social-icons a:hover {
  color: #000;
}


